BODY {
    font-family:'Open sans', arial, sans-serif;
    size: 1em;
    color: #444;
}
#container{
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
#name{
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto
}

strong{
  text-transform: uppercase;
  font-size: 1.5em;
  color:#33485e;
}
.sectionheader{
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #33485e;
  font-style: bold;
  font-weight: 400;
  margin-bottom: : 10;
  margin-top: 20;
  width: 70%;
  min-width: 300px;

}
.title{
  text-align: center;
  font-weight: 600;
  margin-top: 20;
  margin-bottom: : 10;
  margin-right: 0;
  margin-left: 0;
}

.jobtitle{
  font-size: 1.5em;
  font-weight: 600;
}
.organization{
  font-weight: 400;
  font-size: 1.5em;

}

.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0px;

}
.description{
  font-size: 1em;
  font-style: bold;
  font-weight: 600;
  margin-top: 10;
  margin-bottom: 10;
  margin-right: 0;
  margin-left: 0;
}

.menu {
display: inline;
margin-top: 10;
margin-bottom: 10;
margin-right: 0;
margin-left: 0;
text-align: center;
}

.degrees{
  margin-top: 5;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;

}
