body {
    font-family:'Open sans', arial, sans-serif;
    font-size:1 em;
    color: #444;
}
h1{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align:center;
}

h2{
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #33485e;
  font-style: bold;
  font-weight: 400;
}

h3{
  font-size: 1.5em;
  font-style: bold;
  font-weight: 600;
}
h4{
  font-weight: 400;
  font-size: 1.5em;
  font-style: bold;
  font-weight: 400;
}

h5{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}
h6{
  font-size: 1em;
  font-style: bold;
  font-weight: 600;
}
