.container{
background-color:#ca3bf2
max-width: 1000px;
margin: 0 auto;
width: 100%;}

.sectionheader {
text-align: left;
font-size: 2em;
text-transform: uppercase;
font-family: Verdana;
font-style: ;
font-weight: ;
color:#ff383f;
}

.jobtitle {
  text-align: left;
  font-size: 1.25em;
  text-transform: ;
  font-family: Verdana;
  font-weight: ;
  color:#505050;
}
.company {
  text-align: left;
  font-size: 1em;
  text-transform: ;
  font-family: Verdana;
  font-weight: ;
  color:#505050;
}
.date {
  text-align: left;
  font-size: 1em;
  text-transform: ;
  font-family: Verdana;
  font-weight: ;
  color:#505050;
