
.bg-dark {
 background:#02075d !important;
}
.navbar {
 font-family: 'Bebas Neue', sans-serif;
 color: white;
 font-size: 20pt;
}

.hero-image{
  width: 100%;
  max-width: 850px;
  align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.headline{
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color:#02075d;
}

.chapter1{
  font-size:2em;
  font-weight:700;
  font-style:bold;
  text-align:left;
  font-family:"Bebas Neue", sans-serif;
    color:#02075d;
}

.chapter2{
  font-size:2em;
  font-weight:700;
  font-style:bold;
  text-align:left;
  font-family:"Bebas Neue", sans-serif;
    color:#02075d;
}    

.chapter3{
      font-size:2em;
      font-weight:700;
      font-style:bold;
      text-align:left;
      font-family:"Bebas Neue", sans-serif;
        color:#02075d;
}

.about{
  font-family:'Monsterrat'  sans-serif;
  font-size: 1em;
  font-style:bold;
  max-width: 800px;
  margin-top:25px;
  margin-bottom:25px;
  text-align:left;
  align-content: center;
  color:#02075d;
}

.introtext{
  font-family:'Monsterrat'  sans-serif;
  font-size: 1em;
  font-style:bold;
  max-width: 800px;
  margin-top:25px;
  margin-bottom:25px;
  text-align:left;
  align-content: center;
  color:#02075d;
}

.caption{
font-family:'Monsterrat'  sans-serif;
font-size: 1em;
text-align: center;
padding-top: 20px;
width: 100%;
color:#02075d;
}

.graphic-headline{
  font-size:2em;
  font-weight:auto;
  font-style:bold;
  text-align:center;
  font-family:"Bebas Neue", sans-serif;
    color:#02075d;
}

.chapter-title{
  font-family:'Monsterrat'  sans-serif;
  font-size: 2em;
  display: inline;
  text-align:left;
  font-weight:700;
  padding-top: 20px;
  width: 100%;
}

.subheading {
  font-family:'Monsterrat'  sans-serif;
  font-size: 2em;}

.footer {
  background-color: #02075d;
  color: #ffffff;
  font-family: Verdana;
  text-align: center;
  height: 50px;
  font-family: 'Monsterrat' sans-serif;
}

.stack-image{
width:100%;
max-width:900px;
margin:0 auto;
padding-top:30px;
font-family: 'Montserrat', sans-serif;
color:#999;
}




p {
  text-decoration: none;
  Link-color: #e0162b;
  text-align: left;
  line-height: 180%;

}


a:visited {
  color: #999;
}
